.container {
  background-image: url(../pages/car.png);
  background-size: cover;
  border-radius: 30px;
  padding: 40px 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: -1%;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cardRev {
  max-width: 413px;
  backdrop-filter: blur(10px);
  background: rgba(18, 33, 61, 0.45);
  border-radius: 16px;
  padding: 30px 24px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  img {
    margin-bottom: 20px;
  }
  h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #dae3f4;
    max-width: 360px;
  }
}

.cardRev:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
