.main-content {
  position: relative;
  display: flex;
  gap: 280px;
  margin-top: 60px;
  z-index: 2;
  margin-bottom: 130px;
  
  .h1 {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 82px;
    line-height: 78px;
    letter-spacing: -1%;
    color: #FFFFFF;
  }
}

.home-page {
  position: static;
  z-index: 3;
  margin-bottom: 100px;
}