.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  background-color: #FFFFFF;
  border-radius: 25px 20px 20px 25px;
  padding-right: 10px;
  position: relative;
  z-index: 3;
  
}

nav {
  display: flex;
  gap: 15px;

  a {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1%;
    color: #3e4757;
    text-decoration: none;
  }

  select {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1%;
    color: #3e4757;
    border: none;
  }
}

.logo {
  background-color: #3e4757;
  padding: 24px 20px;
  border-radius: 20px 0px 0px 20px;
}

.tel {
  display: flex;
  align-items: center;

  a {
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    color: #3e4757;
    line-height: 22px;
    letter-spacing: -1%;
    text-decoration: none;
  }
}

.numb {
  margin: 0 15px 0 10px;
}

.wats {
  margin-left: 5px;
}

.btn {
    
  button {
    display: flex;
    gap: 5px;
    font-family: Inter Tight;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1%;
    padding: 9px 20px;
    border-radius: 1000px;
    border: 1.4px solid #DAE3F4;
    background: none;
  }
}
